body {
    background-color:black;
    font-family:arial;
    color:white
}

h1 {
    color:grey;
    font-family:verdana;
}

.column {
    float:left;
}

.left {
    width: 35%;
    line-height: 1.35;
}

.right {
    width: 65%;
}

.maindiv {
    background-color:white;
    color:black;
    width:400px;
    padding:20px;
    border-radius:25px;
    margin-right:auto;
    margin-left:auto;
}